<div>Landing</div>
<%for(let credential of credentials) {%>
  <a onclick="showDiv('<%=credential.referent%>', 'credentialsClass')">
      <div class="w3-bar w3-btn w3-white w3-border" style="width:100%;">
          <svg class="w3-bar-item" width="50" height="50" data-jdenticon-value="<%=credential.cred_def_id%>"></svg>
          <p class="w3-bar-item"><%=credential.schema_id.split(':')[2]%> <%=credential.schema_id.split(':')[3]%></p>
      </div>
  </a>
  <br>
<%}%>
<script type="text/javascript">
	function exportHtml(id) {
		// var randing_element = document.getElementById("randing-" + id);
		// if (randing_element !== undefined && randing_element != null) {
		// 	randing_element.style['display']='block';
		// 		var html = randing_element.innerHTML;
		// 		const htmlBlob = new Blob([html], { type: "text/html" });
		// 		const blobUrl = URL.createObjectURL(htmlBlob);
		// 		const anchorElement = document.createElement("a");
		// 		anchorElement.href = blobUrl;
		// 		anchorElement.download = "randing.html";
		// 		anchorElement.click();
		// }
		var pdf_element = document.getElementById(id);
		if (pdf_element !== undefined && pdf_element != null) {
      pdf_element.style['display']='block';
				// var html = pdf_element.innerHTML;
				// const htmlBlob = new Blob([html], { type: "text/html" });
				// const blobUrl = URL.createObjectURL(htmlBlob);
				// const anchorElement = document.createElement("a");
				// anchorElement.href = blobUrl;
				// anchorElement.download = "exporttopdf.html";
				// anchorElement.click();
		}
		// var qrcode_element = document.getElementById("qrcode-" + id);
		// if (qrcode_element !== undefined && qrcode_element != null) {
		// 		var html = qrcode_element.innerHTML;
		// 		const htmlBlob = new Blob([html], { type: "text/html" });
		// 		const blobUrl = URL.createObjectURL(htmlBlob);
		// 		const anchorElement = document.createElement("a");
		// 		anchorElement.href = blobUrl;
		// 		anchorElement.download = "qrcode.html";
		// 		anchorElement.click();
		// }
	}
</script>